<head>
  <title> Confirmare Formular</title>
  <link rel="stylesheet" type="text/css" href="f/mystyle.css">
  </head>
<body>
  <div class="container">
     <!-- header -->
     <div class="header">
        <div class="creative">
           <img alt="creative" src="i/creative1.png"></img>
        </div>
        <div class="nav">
           <ul>
              <li class="active"><a href="/index">HOME</a></li>
              <li><a href="#" onmouseover="modificare(this)" onmouseout="modificare2(this)">ABOUT US</a></li>
              <li><a href="https://www.danielspatzek.com/viita_titan" onmouseover="modificare(this)" onmouseout="modificare2(this)" target="_blank">PORTFOLIO</a></li>
              <li><a href="/pachet" onmouseover="modificare(this)" onmouseout="modificare2(this)">SERVICES</a></li>
              <li><a href="#" onmouseover="modificare(this)" onmouseout="modificare2(this)">BLOG</a></li>
              <li><a href="/form" onmouseover="modificare(this)" onmouseout="modificare2(this)">CONTACT US</a></li>
           </ul>
        </div>
        <!-- header -->
     </div>
<form method =POST action="/confirmare">
  <h1>Verificați datele introduse: </h1>
<strong>  Nume: </strong> <input type="text" name="nume"  size="<%=fdata.nume.lenght %>" value= "<%=fdata.nume %>" ><br>
<strong>   Email: </strong> <input type="email" name="email" value="<%=fdata.email %>"><br>
<strong>   Questions: </strong> <input type="text"  name="question" value="<%=fdata.question %>"><br>
  <input type="submit" value="Confirm">
</form>
</body>
